name: Events Demo 1
on:
  pull_request:
    types:
      - opened
    branches:
      - main
      - 'dev-*' #dev new or dev-this-is-new
      - 'feat/**' #feat/new or feat/new/button
      - test-pull-request-workflow
  workflow_dispatch:
  push:
    branches:
      - main
      - 'dev-*' #dev new or dev-this-is-new
      - 'feat/**' #feat/new or feat/new/button
      - test-pull-request-workflow
    paths-ignore:
      - '.github/workflows/*'

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: Output event data
        env:
          GITHUB_EVENT: ${{ toJson(github.event) }}
        run: echo "$GITHUB_EVENT"
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Test code
        run: npm run test
      - name: Build code
        run: npm run build
      - name: Deploy project
        run: echo "Deploying..."